.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mapContainer {
  display: grid;
  gap: 6px;
  background: var(--pico-card-background-color);
  width: fit-content;
  padding: 20px;
  border-radius: 12px;
}
.dashboardLayout {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 1024px) {
  .dashboardLayout {
    flex-direction: row;
    align-items: flex-start;
  }
  .mapSection {
    flex: 1;
  }
}
